/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/

d-byline {
  // height: 2em;
  border-top-color: $grey-color-light !important;
}

d-byline h3 {
  color: var(--global-text-color) !important;
}

d-byline a, d-article d-byline a {
  color: var(--global-text-color) !important;
  &:hover {
    color: var(--global-hover-color) !important;
  }
}

d-article {
  overflow-x: clip !important;
  border-top-color: #e8e8e8 !important;
  a, h1, h2, hr {
    border-bottom-color: $grey-color-light !important;
  }
  a:hover {
    border-bottom-color: var(--global-hover-color) !important;
  }
}

d-article p {
  line-height: 2.0;
  font-size: 1.0rem;
}
d-appendix {
  border-top-color: $grey-color-light !important;
  color: var(--global-distill-app-color) !important;
  h3, li, span {
    color: var(--global-distill-app-color) !important;
  }
  a, a.footnote-backlink {
    color: var(--global-distill-app-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}

/*******************************************************************************
 * Style overrides for distill blog posts.
 ******************************************************************************/



d-appendix {
  border-top-color: var(--global-divider-color) !important;
  color: var(--global-distill-app-color) !important;
  h3,
  li,
  span {
    color: var(--global-distill-app-color) !important;
  }
  a,
  a.footnote-backlink {
    color: var(--global-distill-app-color) !important;
    &:hover {
      color: var(--global-hover-color) !important;
    }
  }
}

.d-aside-toc {
  nav div {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
  }
  nav a {
    color: rgba(0, 0, 0, 0.8);
    border-bottom: none;
    text-decoration: none;
  }
  ul {
    padding-left: 1em;
  }
  nav ul li {
    margin-bottom: 0.7em;
  }
} 

@media (min-width: 1400px) {

d-article .d-aside {
  display:flex;
  top: 0;
  grid-column: 1 / 3; 
  align-self: stretch;
  flex-direction: column;
}


d-article .d-aside-toc {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: scroll; /* If you want the TOC content to scroll */
  margin-left:50%;
  margin-right:0%;
  font-size: 0.9rem;
}

}

@media (min-width: 1201px) and (max-width: 1399px) {
  d-article .d-aside {
    grid-column: 3 / 13; 
  }
}

@media (min-width: 1200px) {
  
d-title h1 {
  grid-column: 3 / 13 !important;
}
d-title p {
  grid-column: 3 / 13 !important;
}

d-appendix > * {
  grid-column: 3 / 13 !important;
}
d-article .d-main-content {
  grid-column: 3 / 13; 
}

.distill .byline {
  grid-column: 3 / 13 !important;
}
}

@media (max-width: 1199px) {
  .distill .byline {
    grid-column: text !important;
  }
}

d-article hr {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

d-article {
  font-size: 1rem !important;
}

d-article a {
  color: purple !important;
}

@media (max-width: 1199px) {
  .navbar {
    grid-column: text !important;
    padding: 0;
  }  
}
@media (min-width: 1200px) {
  .navbar {
    grid-column: 3 / 13;
    padding: 0;
  }
}


.navbar .container {
  padding: 0;
  margin: 0;
}
