// Rouge Color Customization
figure.highlight {
    margin: 0 0 1rem;
  }
  
  pre {
    color: var(--global-theme-color);
    background-color: var(--global-code-bg-color);
    border-radius: 6px;
    padding: 6px 12px;
    pre, code {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
    }
  }
  
  code {
    color: var(--global-theme-color);
    background-color: var(--global-code-bg-color);
    border-radius: 3px;
    padding: 3px 3px;
  }
  