---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "custom"
;

a {
    color: purple;
}
body {
    line-height: 2;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    font-weight : 400;
}
h1, h2, h3, h4, h5, h6 {
    margin-top:1.5rem;
    font-weight:400;
    margin-bottom:1.5rem;
}

h3 {
    font-size:1.3em;
}
h1 {
    font-size:2em;
    font-weight:500;
}
img {
    max-width : 100%;
}
.publications ol.bibliography li .author > em {
    font-weight:bold;
}

.footnotes {
    font-size:0.9em;
    font-weight:400;
}

h2.card-title {
    font-size:18px;
    min-height:2.5em;
}
.card-body {
}

.card-img-container {
    height : 270px;
    text-align:center;
}

.card-img-container img {
    vertical-align : middle;
}

.card-text {
    height : 120px;
}

.publications ol.bibliography li .links a.btn  {
    margin : 0px;
}

div#toc {
    font-size : 130%;
}
pre {
    background-color: #fff7ff;
}

b, strong {
    font-weight: bolder;
}
.centered_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }




  .tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none;
    position: relative;
}

.tab > * {
    flex: none;
    padding-left: 20px;
    position: relative;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 13px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
}

.tab > .active > a {
    color:#222;
    border-color: #1e87f0;
}

.tab li a {
    text-decoration: none;
        cursor: pointer;
}

.tab-content{
    padding: 0;
}

.tab-content li {
    margin : 25px 0px 25px 0px;
    border : 3px;
    display: none;
}
.tab-content li.active {
    display: initial;
}
.tab-content li.active > .publications > ol > li {
    display : initial;
}




.publications .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 75%;
    max-width: 75%;
}

table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type10 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}
table.type10 tbody th {
    width: 150px;
    padding: 10px;
}
table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type10 .even {
    background: #fdf3f5;
}

p.card-text {
    word-break: break-all;
}


$whitesmoke   : #f5f5f5;
$gainsboro    : #eee;
$gray-lighter : #ddd;
$table-width                    : 100%;
$table-border-color             : $gray-lighter;
$table-font-size                : 14px;
$table-content-alignment        : left;
$table-content-vertical         : middle;
$table-th-font-weight           : 700;
$table-cell-padding             : 8px;
$table-cell-border-right-color  : $gainsboro;
$table-cell-border-bottom-color : $gray-lighter;
$table-row-odd-bg-color         : #f9f9f9;
$table-row-hover-bg-color       : $whitesmoke;


table {
    margin: 20px 0;
    width: $table-width;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $table-border-color;
    font-size: $table-font-size;
    table-layout: fixed;
    word-wrap: break-all;
}
table>tbody>tr {
&:nth-of-type(odd) { background-color: $table-row-odd-bg-color; }
&:hover { background-color: $table-row-hover-bg-color; }
}

caption, th, td {
padding: $table-cell-padding;
text-align: $table-content-alignment;
vertical-align: $table-content-vertical;
font-weight: normal;
}

th, td {
border-bottom: 3px solid $table-cell-border-bottom-color;
border-right: 1px solid $table-cell-border-right-color;
}

th {
padding-bottom: 10px;
font-weight: $table-th-font-weight;
}

td { border-bottom-width: 1px; }

.mathenv-title {
    font-weight: bold;  /* Bold font for the title */
    margin-bottom: 8px;  /* Space between title and definition text */
    color: #de2a7f;  /* Color of the title matching the border */
}

.mathenv {
    background-color: #fff4f9;  /* Light blue background for distinction */
    border-left: 5px solid #de2a7f;  /* Solid blue line on the left for emphasis */
    padding: 10px 15px;  /* Padding for spacing inside the box */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    border-radius: 4px;  /* Rounded corners for a modern look */
    margin: 0.5rem 0 0.5rem 0;
}

.mathenv > p {
    margin-bottom: 0px;
}

ol.bibliography p {
    font-size: 0.9em;
    font-weight: 300;
}

ol.bibliography li::marker {
    font-size: 0.9em;
    font-weight: 300;
}