---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{site.max_width}};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "custom"
;

a {
    color: purple;
}
body {
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}
code {
    font-size: 100%;

}
code.language-plaintext {
    color : #000000;
    background-color : #ffffff;
}
body {
    font-weight : 400;
}
h1, h2, h3, h4, h5, h6 {
    margin-top:2em;
    font-weight:400;
    margin-bottom:0.8rem;
}
h1 {
    font-size:2em;
    font-weight:500;
}
img {
    max-width : 100%;
}
.publications ol.bibliography li .author > em {
    font-weight:bold;
}

.footnotes {
    font-size:0.8em;
    font-weight:300;
}

h2.card-title {
    font-size:18px;
    min-height:2.5em;
}
.card-body {
    min-height:300px;
}

.card-img-container {
    height : 300px;
    text-align:center;
}

.card-img-container img {
    height : 300px;
    display:block;
    vertical-align : middle;
}

.card-text {
    height : 120px;
}
table {
    width:100%;
    border: solid 2px grey;
    border-collapse:false;
    font-weight : 400;
    font-size : 1em;
}
table td, table th {
    border: solid 2px grey;
    font-weight : 400;
    padding : 10px;
}
thead {
    border: solid 2px grey;
    font-weight : 400;
}

.publications ol.bibliography li .links a.btn  {
    margin : 0px;
}

div#toc {
    font-size : 130%;
}
pre {
    background-color: #fff7ff;
}

b, strong {
    font-weight: bolder;
}
.centered_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }




  .tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    padding: 0;
    list-style: none;
    position: relative;
}

.tab > * {
    flex: none;
    padding-left: 20px;
    position: relative;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 13px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
}

.tab > .active > a {
    color:#222;
    border-color: #1e87f0;
}

.tab li a {
    text-decoration: none;
        cursor: pointer;
}

.tab-content{
    padding: 0;
}

.tab-content li {
    margin : 25px 0px 25px 0px;
    border : 3px;
    display: none;
}
.tab-content li.active {
    display: initial;
}
.tab-content li.active > .publications > ol > li {
    display : initial;
}



.col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 75%;
    max-width: 75%;
}

table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type10 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}
table.type10 tbody th {
    width: 150px;
    padding: 10px;
}
table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type10 .even {
    background: #fdf3f5;
}