<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include scripts/mathjax.html %}
    <script src="{{ '/assets/js/distillpub/template.v2.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/distillpub/transforms.v2.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/distillpub/overrides.js' | relative_url }}"></script>
    {% if page._styles %}
    <style type="text/css">
      {{ page._styles }}
    </style>
    {% endif %}
  </head>

  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->

    {% include header.html %}

    <!-- Content -->

    <div class="post distill">

      <d-title>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </d-title>
      {% unless page.no_byline %}
      <div class="base-grid">
      <div class="byline">
        <div>
          <h3>Date</h3>
        {{ page.date | date: '%B %-d, %Y' }}
        </div>
        {% if page.distill_tag %}
        <div>
          <h3>Category</h3>
          {{ page.distill_tag }}
        </div>
        {% endif %}
        {% if page.distill_topic %}
        <div>
          <h3>Topic</h3>
          {{ page.distill_topic }}
        </div>
        {% endif %}
      </div>
      <!-- <d-byline></d-byline> -->
      </div>
      {% endunless %}

      <!-- change starts from here -->
      <d-article>
        <div class="d-aside sidebar">
          <div class="d-aside-toc">
            <nav class="l-text figcaption">
              <h3>Contents</h3>
                {% toc %}
              </nav>
          </div>
        </div>
        <div class="d-main-content">
          {{ content }}
        </div>  
      </d-article>
      <!-- change ends here -->
      <d-appendix>
      {% if site.disqus_shortname and page.comments %}
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://gratus907-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}
      {% include footer.html %}
    </d-appendix>
      <!-- <d-appendix>
        <d-footnote-list></d-footnote-list>
        <d-citation-list></d-citation-list>
      </d-appendix> -->
    </div>

    <!-- Footer -->
<!-- 
    {% include footer.html %}
     -->

  </body>

  <!-- <d-bibliography src="{{ page.bibliography | prepend: '/assets/bibliography/' | relative_url }}">
  </d-bibliography> -->

</html>
