---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <div class="byline">
    <div>
      <h3>Date</h3>
    {{ page.date | date: '%B %-d, %Y' }}
    </div>
    {% if page.distill_tag %}
    <div>
      <h3>Category</h3>
      {{ page.distill_tag }}
    </div>
    {% endif %}
    {% if page.distill_topic %}
    <div>
      <h3>Topic</h3>
      {{ page.distill_topic }}
    </div>
    {% endif %}
    {% if page.distill_subtopic %}
    <div>
      <h3>Topic</h3>
      {{ page.distill_subtopic }}
    </div>
    {% endif %}
  </div>

  {% if page.toc %}
    <div class="toc">
    <h3>Contents</h3>
    {% toc %}
    </div>
  {% endif %}
  <article class="post-content">
    <div class="post-main-content">
    {{ content }}
    </div>
  </article>
  

  {% if site.disqus_shortname and page.comments %}
    <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://gratus907-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
  <!-- {% if page.categories %}
  <a href="{{ site.baseurl | prepend: site.url }}/{{ page.categories }}"> Back to : {{ page.categories }}</a><br/>
  {% endif %}
  {% if page.parlinks %}
  {% for par in page.parlinks %}
    <a href="{{ site.baseurl | prepend: site.url }}/{{ par }}"> Back to : {{ par }} </a> <br/>
  {% endfor %}
  {% endif %} -->
</div>
